.App {
    font-family: 'Lato', cursive;
}

.title {
    text-align: center;
}

.form {
    border: solid black 1px;
    border-radius: 10px;
}

.elem {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-right: 15px;
}

.charts {
    text-align: center;
    margin-top: 10px;
}

.chart {
    border: solid #589636 1px;
    margin: 5px;
    display: inline-block;
}
